
<h1>冒険の記録</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @blogs.each do |blog| %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= blog.title %></div>
  <div class="panel-body">
    <p><%= link_to '詳細', blog %></p>
</div>
        <%= link_to '削除', blog, method: :delete, data: { confirm: '冒険の書を削除しますか?' } %>
      
  

      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_blog_path %>
