    <% comments.each do |comment| %>

      <p>
        <% unless comments.nil? %>
         <td><%= comment.content %></td>
         <td><%= link_to 'Edit', edit_comment_path(@blog,comment) %></td>
         <td><%= link_to 'Destroy', comment_path(@blog,comment), method: :delete,remote: true, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
      </p>

    <% end %>
