    <% comments.each do |comment| %>
         <% unless comment.id.nil? %>
         <%= comment.user %>
         <%= comment.content %>
         <%= link_to '編集', edit_blog_comment_path(@blog, comment) %>
         <%= link_to "削除", blog_comment_path(@blog, comment), method: :delete, remote: true, data: { confirm: "決して良いですか" } %></td>
       <% end %>
    <% end %>
