<%= form_for(current_user.relationships.find_by(followed_id: user.id), remote: true, html: { method: :delete }) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
<%= f.submit 'フォロー解除' , class: 'btn btn-large btn-primary' %>
<% end %>
