<p>こんにちは<%= @resource.email %>!</p>

<p>パスワードを設定するには以下のアドレスへ移動してください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない方はこのメールを削除して下さい。</p>
<p>まだユーザ登録してないひとは新規登録してください</p>
<li><%= link_to"新規登録",new_user_registration_path %></li>
